<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"align":"full","className":"wyrd-page-wrap","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull wyrd-page-wrap">

	<!-- wp:group {"align":"wide","className":"wyrd-page-inner"} -->
	<div class="wp-block-group alignwide wyrd-page-inner">

		<!-- wp:post-title {"level":1} /-->

		<!-- wp:post-content /-->

	</div>
	<!-- /wp:group -->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->